* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

img { 
    display: block;
    height: 80px;
    width: 80px;
}

#container { 
    background-color: bisque;
    height: fit-content;
    width: auto;
}